.header-wrapper {
  /* background: rgb(246, 127, 58); */
  background: rgb(255, 169, 120);
  height: 70px;
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;
  color: #555;
}
.header-logo {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 23px;
  cursor: pointer;
}
.header-wrapper > ul {
  display: flex;
  height: 100%;
}
.header-wrapper > ul > li {
  line-height: 70px;
  width: 120px;
  text-align: center;
  cursor: pointer;
}
.header-wrapper > ul > li:hover {
  background: rgba(0, 0, 0, 0.2);
}